#margin-top{
    margin-top: 70px;
}

.spiderman-ball
{
   
    background-image: url(./../img/autores/comic1.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-right: 10px;
    transition: opacity 1s;
}

.power-ball
{
   
    background-image: url(./../img/autores/comic2.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.daredevil-ball
{
   
    background-image: url(./../img/autores/comic3.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.jsa-ball
{
   
    background-image: url(./../img/autores/comic4.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.greenLantern-ball
{
   
    background-image: url(./../img/autores/comic5.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.infinity-ball
{
   
    background-image: url(./../img/autores/comic6.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.fallenson-ball
{
   
    background-image: url(./../img/autores/fallenson.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.longhallo-ball
{
   
    background-image: url(./../img/autores/longhallo.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.darkvictory-ball
{
   
    background-image: url(./../img/autores/darkvictory.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;

    transition: opacity 1s;
}

.crisis-ball
{
   
    background-image: url(./../img/autores/comic7.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.soldados-ball
{
   
    background-image: url(./../img/autores/comic8.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}

.arkham-ball
{
   
    background-image: url(./../img/autores/comic9.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-right: 10px;
}