.foto1-ball
{
    background-image: url(./../img/galeria/foto1.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto1-ball:hover
{
    opacity: 0.3;   
}

.foto2-ball
{
    background-image: url(./../img/galeria/foto2.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto2-ball:hover
{
    opacity: 0.3;   
}

.foto3-ball
{
    background-image: url(./../img/galeria/foto3.png);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto3-ball:hover
{
    opacity: 0.3;   
}

.foto4-ball
{
    background-image: url(./../img/galeria/foto4.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto4-ball:hover
{
    opacity: 0.3;   
}

.foto5-ball
{
    background-image: url(./../img/galeria/foto5.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto5-ball:hover
{
    opacity: 0.3;   
}
.foto6-ball
{
    background-image: url(./../img/galeria/foto6.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto6-ball:hover
{
    opacity: 0.3;   
}
.foto7-ball
{
    background-image: url(./../img/galeria/foto7.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto7-ball:hover
{
    opacity: 0.3;   
}

.foto8-ball
{
    background-image: url(./../img/galeria/foto8.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto8-ball:hover
{
    opacity: 0.3;   
}
.foto9-ball
{
    background-image: url(./../img/galeria/foto9.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto9-ball:hover
{
    opacity: 0.3;   
}

.foto10-ball
{
    background-image: url(./../img/galeria/foto10.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto10-ball:hover
{
    opacity: 0.3;   
}

.foto11-ball
{
    background-image: url(./../img/galeria/foto11.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto11-ball:hover
{
    opacity: 0.3;   
}
.foto12-ball
{
    background-image: url(./../img/galeria/foto12.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto12-ball:hover
{
    opacity: 0.3;   
}

.foto13-ball
{
    background-image: url(./../img/galeria/foto13.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto13-ball:hover
{
    opacity: 0.3;   
}

.foto14-ball
{
    background-image: url(./../img/galeria/foto14.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto14-ball:hover
{
    opacity: 0.3;   
}

.foto15-ball
{
    background-image: url(./../img/galeria/foto15.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto15-ball:hover
{
    opacity: 0.3;   
}
.foto16-ball
{
    background-image: url(./../img/galeria/foto16.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto16-ball:hover
{
    opacity: 0.3;   
}

.foto17-ball
{
    background-image: url(./../img/galeria/foto17.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto17-ball:hover
{
    opacity: 0.3;   
}

.foto18-ball
{
    background-image: url(./../img/galeria/foto18.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto18-ball:hover
{
    opacity: 0.3;   
}

.foto19-ball
{
    background-image: url(./../img/galeria/foto19.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto19-ball:hover
{
    opacity: 0.3;   
}
.foto20-ball
{
    background-image: url(./../img/galeria/foto20.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto20-ball:hover
{
    opacity: 0.3;   
}
.foto21-ball
{
    background-image: url(./../img/galeria/foto21.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    transition: opacity 1s;
}
.foto21-ball:hover
{
    opacity: 0.3;   
}