.jeph-ball
{
   
    background-image: url(./../img/autores/jeph.jpg);
    border-radius: 50%;
    background-repeat: repeat;
    width: 300px;
    height: 300px;
    margin-top: 70px;
    margin-right: 10px;
    transition: opacity 1s;
}